<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="endpoint" value="ecs.amazonaws.com" />
    <add key="awsAccessKeyId" value="" />
    <add key="awsSecretKey" value="" />
    <add key="AssociateTag" value="" />
    <add key="productASIN" value="" />
    <add key="login" value="" />
    <add key="password" value="" />
    <add key="cardName" value="" />
    <add key="cardNumber" value="" />
    <add key="expCardMonth" value="" />
    <add key="expCardYear" value="" />
    <add key="FullName" value="" />
    <add key="AddressLineFirst" value="" />
    <add key="AddressLineSecond" value="" />
    <add key="City" value="" />
    <add key="StateProvinceRegion" value="" />
    <add key="ZIP" value="" />
    <add key="Country" value="" />
    <add key="PhoneNumber" value="" />
    <add key="WeekendDelivery" value=" Yes, deliver on weekends " />
    <add key="SecurityAccessCode" value="" />
  </appSettings>
</configuration>
